@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --purple-primary: #a855f7;
  --purple-secondary: #7c3aed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: var(--purple-primary);
  color: #000000;
}

html {
  scroll-behavior: smooth;
}
